In [1]:
import pandas as pd
pd.__version__

'2.1.1'

In [2]:
df = pd.read_csv('./mtcars.csv')
df.head()

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4,4
1,2,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4,4
2,3,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4,1
3,4,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3,1
4,5,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3,2

In [5]:
# describe
# df.describe()

# info
# df.info()

In [11]:
# cleaning the data
# drop cols
# df = pd.read_csv('./mtcars.csv')
# df = df.drop(columns=['vs', 'gear', 'disp'])
# df

In [21]:
# update the data
df = pd.read_csv('./mtcars.csv')

# fillna
# df = df.fillna(100)
# df

# df = df.fillna({
#     'Unnamed: 1': 'NO NAME',
#     'disp': df['disp'].mean(),
#     'hp': df['hp'].median()
# })

# interpolate
# df = df.interpolate()
# df

# new_df

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6.0,160.000000,110.0,3.90,2.620,16.46,0.0,1.0,4,4
1,2,Mazda RX4 Wag,21.0,6.0,160.000000,110.0,3.90,2.875,17.02,0.0,1.0,4,4
2,3,Datsun 710,22.8,4.0,108.000000,93.0,3.85,2.320,18.61,1.0,1.0,4,1
3,4,Hornet 4 Drive,21.4,6.0,258.000000,110.0,3.08,3.215,19.44,1.0,0.0,3,1
4,5,Hornet Sportabout,18.7,8.0,360.000000,175.0,3.15,3.440,17.02,0.0,0.0,3,2
5,6,Valiant,18.1,6.0,225.000000,105.0,2.76,3.460,NaN,1.0,0.0,3,1
6,7,Duster 360,14.3,8.0,360.000000,245.0,3.21,3.570,15.84,0.0,0.0,3,4
7,8,Merc 240D,24.4,4.0,146.700000,62.0,3.69,3.190,20.00,1.0,0.0,4,2
8,9,Merc 230,22.8,4.0,140.800000,123.0,3.92,3.150,22.90,1.0,0.0,4,2
9,10,Merc 280,19.2,6.0,167.600000,123.0,3.92,3.440,18.30,1.0,0.0,4,4
10,11,Merc 280C,17.8,6.0,167.600000,123.0,3.92,3.440,18.90,1.0,0.0,4,4
11,12,Merc 450SE,16.4,8.0,275.800000,180.0,3.07,4.070,17.40,0.0,0.0,3,3
12,13,Merc 450SL,17.3,8.0,215.258621,180.0,3.07,3.730,17.60,0.0,0.0,3,3
13,14,Merc 450SLC,15.2,8.0,215.258621,180.0,3.07,3.780,18.00,0.0,0.0,3,3
14,15,Cadillac Fleetwood,10.4,8.0,215.258621,123.0,2.93,5.250,17.98,0.0,0.0,3,4
15,16,Lincoln Continental,10.4,8.0,460.000000,215.0,3.00,5.424,17.82,0.0,0.0,3,4
16,17,Chrysler Imperial,14.7,8.0,440.000000,230.0,3.23,5.345,17.42,0.0,0.0,3,4
17,18,Fiat 128,32.4,4.0,78.700000,66.0,4.08,2.200,NaN,1.0,1.0,4,1
18,19,NO NAME,30.4,4.0,75.700000,52.0,4.93,1.615,18.52,1.0,1.0,4,2
19,20,NO NAME,33.9,4.0,71.100000,65.0,4.22,1.835,19.90,1.0,1.0,4,1
20,21,NO NAME,21.5,4.0,120.100000,97.0,3.70,2.465,20.01,1.0,0.0,3,1
21,22,NO NAME,15.5,8.0,318.000000,150.0,2.76,3.520,16.87,0.0,0.0,3,2
22,23,AMC Javelin,15.2,8.0,304.000000,150.0,3.15,3.435,17.30,0.0,0.0,3,2
23,24,Camaro Z28,13.3,8.0,350.000000,245.0,3.73,3.840,15.41,0.0,0.0,3,4
24,25,Pontiac Firebird,19.2,8.0,400.000000,175.0,3.08,3.845,17.05,0.0,0.0,3,2
25,26,Fiat X1-9,27.3,4.0,79.000000,66.0,4.08,1.935,NaN,1.0,1.0,4,1
26,27,Porsche 914-2,26.0,4.0,120.300000,91.0,4.43,2.140,16.70,0.0,1.0,5,2
27,28,Lotus Europa,30.4,4.0,95.100000,113.0,3.77,1.513,16.90,1.0,1.0,5,2
28,29,Ford Pantera L,15.8,8.0,351.000000,264.0,4.22,3.170,14.50,0.0,1.0,5,4
29,30,Ferrari Dino,19.7,6.0,145.000000,175.0,3.62,2.770,15.50,0.0,1.0,5,6
30,31,Maserati Bora,15.0,8.0,301.000000,335.0,3.54,3.570,14.60,0.0,1.0,5,8
31,32,Volvo,NaN,NaN,4.000000,2.0,NaN,NaN,NaN,NaN,NaN,2,10

In [34]:
# NaN -> Not a Number (numpy)
df = pd.read_csv('./mtcars.csv')
# df

# fillna methods
# forward fill
# df = df.fillna(method='ffill', limit=2)

# backward fill
df = df.fillna(method='bfill')
df

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4,4
1,2,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4,4
2,3,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4,1
3,4,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3,1
4,5,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3,2
5,6,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,15.84,1.0,0.0,3,1
6,7,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3,4
7,8,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4,2
8,9,Merc 230,22.8,4.0,140.8,123.0,3.92,3.150,22.90,1.0,0.0,4,2
9,10,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4,4
10,11,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4,4
11,12,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3,3
12,13,Merc 450SL,17.3,8.0,460.0,180.0,3.07,3.730,17.60,0.0,0.0,3,3
13,14,Merc 450SLC,15.2,8.0,460.0,180.0,3.07,3.780,18.00,0.0,0.0,3,3
14,15,Cadillac Fleetwood,10.4,8.0,460.0,215.0,2.93,5.250,17.98,0.0,0.0,3,4
15,16,Lincoln Continental,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3,4
16,17,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3,4
17,18,Fiat 128,32.4,4.0,78.7,66.0,4.08,2.200,18.52,1.0,1.0,4,1
18,19,AMC Javelin,30.4,4.0,75.7,52.0,4.93,1.615,18.52,1.0,1.0,4,2
19,20,AMC Javelin,33.9,4.0,71.1,65.0,4.22,1.835,19.90,1.0,1.0,4,1
20,21,AMC Javelin,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0.0,3,1
21,22,AMC Javelin,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0.0,3,2
22,23,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,3,2
23,24,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3,4
24,25,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3,2
25,26,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,16.70,1.0,1.0,4,1
26,27,Porsche 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1.0,5,2
27,28,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5,2
28,29,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5,4
29,30,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5,6
30,31,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5,8
31,32,Volvo,NaN,NaN,4.0,2.0,NaN,NaN,NaN,NaN,NaN,2,10

In [6]:
# dropna
df = pd.read_csv('./mtcars.csv')
# df = df.dropna(ignore_index=True)

# threshold
# min 7 values should be present
# df = df.dropna(thresh=7)
# df

df
# df.loc[4]

S.No                          5
Unnamed: 1    Hornet Sportabout
mpg                        18.7
cyl                         8.0
disp                      360.0
hp                        175.0
drat                       3.15
wt                         3.44
qsec                      17.02
vs                          0.0
am                          0.0
gear                          3
carb                          2
Name: 4, dtype: object

In [5]:
import pandas as pd
df = pd.read_csv('./mtcars.csv')
# outlier -> replace

# df = df.replace([0, 1], [10, 20])
# df = df.replace([4], 10)

df = df.replace({
    'gear': 4,
    'carb': 1
}, 100)

# import numpy as np

df = df.replace
({
    'disp': [160, 108],
    'hp': 110
},
 {'disp': 110,
    'hp': 120
})

# df = df.dropna()
df

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,100,4
1,2,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,100,4
2,3,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,100,100
3,4,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3,100
4,5,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3,2
5,6,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,NaN,1.0,0.0,3,100
6,7,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3,4
7,8,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,100,2
8,9,Merc 230,22.8,4.0,140.8,NaN,3.92,3.150,22.90,1.0,0.0,100,2
9,10,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,100,4
10,11,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,100,4
11,12,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3,3
12,13,Merc 450SL,17.3,8.0,NaN,180.0,3.07,3.730,17.60,0.0,0.0,3,3
13,14,Merc 450SLC,15.2,8.0,NaN,180.0,3.07,3.780,18.00,0.0,0.0,3,3
14,15,Cadillac Fleetwood,10.4,8.0,NaN,NaN,2.93,5.250,17.98,0.0,0.0,3,4
15,16,Lincoln Continental,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3,4
16,17,Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3,4
17,18,Fiat 128,32.4,4.0,78.7,66.0,4.08,2.200,NaN,1.0,1.0,100,100
18,19,NaN,30.4,4.0,75.7,52.0,4.93,1.615,18.52,1.0,1.0,100,2
19,20,NaN,33.9,4.0,71.1,65.0,4.22,1.835,19.90,1.0,1.0,100,100
20,21,NaN,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0.0,3,100
21,22,NaN,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0.0,3,2
22,23,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,3,2
23,24,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3,4
24,25,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3,2
25,26,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,NaN,1.0,1.0,100,100
26,27,Porsche 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1.0,5,2
27,28,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5,2
28,29,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5,4
29,30,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5,6
30,31,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5,8
31,32,Volvo,NaN,NaN,4.0,2.0,NaN,NaN,NaN,NaN,NaN,2,10

In [31]:
# map -> traverse entire list -> new list
# [1, 2, 3, 4, 5] -> [1, 4, 9, 16, 25]

nums = [1, 2, 3, 4, 5]
# sq_nums = []

# for num in nums:
#     sq_nums.append(num * num)
    
# print(sq_nums)


def square(num):
    return num * num

# map(fn, list)
sq_nums = map(square, nums)
print(list(sq_nums)) # map object

# for num in sq_nums:
#     print(num)

[1, 4, 9, 16, 25]

In [35]:
# factorial upto 10

def get_factorial(num):
    factorial = 1
    for i in range(1, num+1):
        factorial *= i
    return factorial

factorials = map(get_factorial, range(1, 11))
print(list(factorials))

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [37]:
nums = [1, 2, 3, 4, 5]

# even nums
# even_nums = []
# for num in nums:
#     if(num % 2 == 0):
#         even_nums.append(num)
        
# print(even_nums)

[1, 3, 5]

In [39]:
def even(num):
    return num % 2 == 0

# filter -> boolean
even_nums = filter(even, [1, 2, 3, 4, 5])
print(list(even_nums))

[2, 4]

In [45]:
# higher order function -> a function which takes another fn as a param or returns another fn


def square():
    print('caculating square area')
    
def rectangle():
    print('caculating rectangle area')
    
def trapezium():
    print('caculating trapezium area')
    
# hof -> wrapper
def area(shape):
    shape()


# the fn which is passed as a param(square, rectangle) -> callback fns(future)
# print(type(square))
area(square)
area(rectangle)
area(trapezium)

caculating square area
caculating rectangle area
caculating trapezium area

In [52]:
def parent():
    def child():
        print('child fn')
    return child # function referrence

# function chaining
parent()()

# same as parent()()
# child = parent()
# child()

child fn

In [54]:
def parent():
    count = 1
    def child():
        count += 1
        print(count)
    return child

vasanth = parent()
vasanth() # closure is not supported in python

UnboundLocalError: cannot access local variable 'count' where it is not associated with a value

In [69]:
# function binding
df = pd.read_csv('./mtcars.csv')

def double(num):
    if num > 3:
        return num * 2
    return num

def capitalise(word):
    return word.upper()

# def gear_filter(num):
#     return num > 3

# gears = map(double, df['gear'])
# gears = filter(gear_filter, df['gear'])
# print(list(gears))

# df['gear'] = df['gear'].apply(double) 
df = df.replace({'Unnamed: 1' : np.NaN}, 'No name')
df['Unnamed: 1'] = df['Unnamed: 1'].apply(capitalise)
df

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,MAZDA RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4,4
1,2,MAZDA RX4 WAG,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4,4
2,3,DATSUN 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4,1
3,4,HORNET 4 DRIVE,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3,1
4,5,HORNET SPORTABOUT,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3,2
5,6,VALIANT,18.1,6.0,225.0,105.0,2.76,3.460,NaN,1.0,0.0,3,1
6,7,DUSTER 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3,4
7,8,MERC 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4,2
8,9,MERC 230,22.8,4.0,140.8,NaN,3.92,3.150,22.90,1.0,0.0,4,2
9,10,MERC 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4,4
10,11,MERC 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4,4
11,12,MERC 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3,3
12,13,MERC 450SL,17.3,8.0,NaN,180.0,3.07,3.730,17.60,0.0,0.0,3,3
13,14,MERC 450SLC,15.2,8.0,NaN,180.0,3.07,3.780,18.00,0.0,0.0,3,3
14,15,CADILLAC FLEETWOOD,10.4,8.0,NaN,NaN,2.93,5.250,17.98,0.0,0.0,3,4
15,16,LINCOLN CONTINENTAL,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3,4
16,17,CHRYSLER IMPERIAL,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3,4
17,18,FIAT 128,32.4,4.0,78.7,66.0,4.08,2.200,NaN,1.0,1.0,4,1
18,19,NO NAME,30.4,4.0,75.7,52.0,4.93,1.615,18.52,1.0,1.0,4,2
19,20,NO NAME,33.9,4.0,71.1,65.0,4.22,1.835,19.90,1.0,1.0,4,1
20,21,NO NAME,21.5,4.0,120.1,97.0,3.70,2.465,20.01,1.0,0.0,3,1
21,22,NO NAME,15.5,8.0,318.0,150.0,2.76,3.520,16.87,0.0,0.0,3,2
22,23,AMC JAVELIN,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,3,2
23,24,CAMARO Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3,4
24,25,PONTIAC FIREBIRD,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3,2
25,26,FIAT X1-9,27.3,4.0,79.0,66.0,4.08,1.935,NaN,1.0,1.0,4,1
26,27,PORSCHE 914-2,26.0,4.0,120.3,91.0,4.43,2.140,16.70,0.0,1.0,5,2
27,28,LOTUS EUROPA,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5,2
28,29,FORD PANTERA L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5,4
29,30,FERRARI DINO,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5,6
30,31,MASERATI BORA,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5,8
31,32,VOLVO,NaN,NaN,4.0,2.0,NaN,NaN,NaN,NaN,NaN,2,10

In [79]:
# MERGING OR JOINING
A = pd.DataFrame({
    'color': ['red', 'green', 'yellow'],
    'stock': [1, 2, 3],
    'places': ['chennai', 'punjab', 'bengal']
})

A

    color  stock   places
0     red      1  chennai
1   green      2   punjab
2  yellow      3   bengal

In [81]:
B = pd.DataFrame({
    'color': ['yellow', 'green', 'pink'],
    'size': ['small', 'medium', 'large'],
    'places': ['mumbai', 'punjab', 'chennai']
})

B

    color    size   places
0  yellow   small   mumbai
1   green  medium   punjab
2    pink   large  chennai

In [83]:
# SELECT * FROM A JOIN B ON A.color = B.color
# JOIN -> merge

# pd.merge(A, B)

pd.merge(A, B, on='color')
# pd.merge(A, B, how='inner') # default

    color  stock places_x    size places_y
0   green      2   punjab  medium   punjab
1  yellow      3   bengal   small   mumbai

In [87]:
A = pd.DataFrame({
    'color': ['red', 'green', 'yellow'],
    'stock': [1, 2, 3],
})

B = pd.DataFrame({
    'color': ['yellow', 'green', 'pink'],
    'size': ['small', 'medium', 'large'],
})

# # SELECT * FROM A LEFT JOIN B ON A.color = B.color
# pd.merge(A, B, how='left')

# # SELECT * FROM A RIGHT JOIN B ON A.color = B.color
# pd.merge(A, B, how='right')

# SELECT * FROM A OUTER JOIN B ON A.color = B.color
pd.merge(A, B, how='outer')

    color  stock    size
0     red    1.0     NaN
1   green    2.0  medium
2  yellow    3.0   small
3    pink    NaN   large

In [91]:
A = pd.DataFrame({
    'color': ['red', 'green', 'yellow'],
    'stock': [1, 2, 3],
})

B = pd.DataFrame({
    'tshirt': ['yellow', 'green', 'pink'],
    'size': ['small', 'medium', 'large'],
})

# SELECT * FROM A JOIN B ON A.color = B.tshirt

df = pd.merge(A, B, left_on='color', right_on='tshirt')
df

    color  stock  tshirt    size
0   green      2   green  medium
1  yellow      3  yellow   small